<div class="container-fluid" style="margin-top: 80px;">
    <div class="section">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <h4 class="text-info text-center">Covid cases in India</h4>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="assets/test.png" class="card-img-top" alt="...">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Andhrapradesh</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="" class="btn btn-primary" [routerLink]="['/state']">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="assets/test.png" class="card-img-top" alt="...">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Andhrapradesh</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="" class="btn btn-primary" [routerLink]="['/state']">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="assets/test.png" class="card-img-top" alt="...">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Andhrapradesh</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="" class="btn btn-primary" [routerLink]="['/state']">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="assets/test.png" class="card-img-top" alt="...">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Andhrapradesh</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="" class="btn btn-primary" [routerLink]="['/state']">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>